
.container{
    height: 90vh;
}

.img-cover{
    object-fit: cover;
}
.color-1{
    background-color: #669BBC;
}
.card-style-create{
    background: #0a9396;
    border-radius: 10px;
    width: 100%;
    min-height: 50px;
}
.card-style{
    background: #005F73;
    border-radius: 10px;
    height: 170px;   
}
.card-style-2{
    background: #ee9b00;
    border-radius: 50%;
    height: 125px;
    width: 125px;   
}
.box{
    width: 80%;
    height: 100%;
    position: relative;
}
.card-sm-1{
    background: white;
    height: 75px;
    width: 60px;
    border-radius: 10px;
    transform: rotate(-20deg);
    position: absolute;
    box-shadow: 1px 1px 2px #0008;
    top: 3px;
    left: 2px;
}
.card-sm-2{
    background: #669BBC;
    height: 75px;
    width: 60px;
    border-radius: 10px;
    transform: rotate(20deg);
    position: absolute;
    box-shadow: 1px 1px 2px #0008;
    top: 10px;
    right: 2px;

}
.number-icon{
    font-size: 4em;
    font-weight: 700;

}
